body {
  max-width: $page-width;

  @media screen and (min-width: $mq-vga) {
    max-width: 50%;
  }

  margin: auto;

  font: $base-font-size $base-font-family;

  background: $body-bg;
  color: $text-color;

  @include text-shadow(black 0 2px 4px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}