$page-width: 90% !default;

// Courtesy http://www.miniarray.com/post/51474660456/a-great-list-of-common-css-media-query-breakpoints
// Courtesy http://bradfrostweb.com/blog/post/7-habits-of-highly-effective-media-queries/

// Mobile devices - Portrait (320px wide)
$mq-qvga: 320px;

// Mobile devices - Landscape (480px wide)
$mq-wqvga: 480px;

// Tablet devices - Portrait (640px wide)
$mq-vga: 640px;

// Tablet devices - Landscape (800px wide)
$mq-svga: 800px;

// Netbook devices (1024px wide)
$mq-xga: 1024px;

// Desktop devices (1280px wide)
$mq-wxga: 1280px;

// Large desktops (1366px wide)
$mq-hd: 1366px;

// Theme
$body-bg: #444;
$text-color: white;

$base-font-family: "Source Sans Pro", sans-serif;
$headings-font-family: "Source Sans Pro", sans-serif;
$base-font-size: 24px;

$link-color: hsl(32, 100%, 60%);
$link-hover-color: hsl(32, 100%, 70%);