$page-width: 90% !default;

// Courtesy http://www.miniarray.com/post/51474660456/a-great-list-of-common-css-media-query-breakpoints
// Courtesy http://bradfrostweb.com/blog/post/7-habits-of-highly-effective-media-queries/

// Mobile devices - Portrait (320px wide)
$mq-mobile-portrait: 20em;

// Mobile devices - Landscape (480px wide)
$mq-mobile-landscape: 30em;

// Tablet devices - Portrait (768px wide)
$mq-tablet-portrait: 48em;

// Tablet devices - Landscape (900px wide)
$mq-tablet-landscape: 56.25em;

// Netbook devices (1100px wide)
$mq-netbook: 68.75em;

// Desktop devices (1300px wide)
$mq-desktop: 81.25em;


// Theme
$body-bg: #444;
$text-color: white;

$link-color: hsl(32, 100%, 60%);
